.movie-cards {
  width: 16rem;
  padding: 1rem;
  color: white;
}
.movie-cards:hover {
  transform: scale(1.1);
}

img {
  width: 15rem;
  cursor: pointer;
}
.title {
  overflow-wrap: break-word;
  text-decoration: none;
}

h3,
p {
  text-decoration: none;
}
