.movie-cards {
  box-sizing: border-box;
  width: 20rem;
  margin: 5%;
  color: white;
}
.movie-cards:hover {
  transform: scale(1.03);
}

img {
  
  width: 20rem;
  cursor: pointer;
}
.title {
  overflow-wrap: break-word;
}