.search-field {
  height: 2rem;
  width: 15rem;
  text-align: center;
  border-radius: 3rem;
  padding: 0.5rem;
}

.search-input-box {
  padding: 1rem;
}

.hide {
  display: none;
}
.form-label {
  display: none;
}
